<!DOCTYPE html>
<html>
  <head>
    <title>Rendered</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contents</h1>
    <p><%= stuff %></p>
  </body>
</html>
